.Rproj.user
.Rhistory
.RData
.Rproj.user/CF5A1FCD/persistent-state
.Rproj.user/CF5A1FCD/persistent-state
.Rproj.user/CF5A1FCD/sources/s-610E0771/E920E109
.Rproj.user/CF5A1FCD/sources/prop/6CE3831E
.Rproj.user/CF5A1FCD/persistent-state
